{{#each images}}
    <a href="/image/{{this.imgid}}" target="_blank">
      [{{this.tags}}]{{this.alt}}[共{{this.num}}张]<br><img class="lazy" src="/img/grey.gif" data-original="{{this.src}}" alt="{{this.alt}}">
    </a><br>
{{/each}}