<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{#if pageTitle}}{{pageTitle}} - {{settings.siteName}}{{else}}{{settings.siteName}}{{/if}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="看点，手机看点，轻松一刻，今日之声，娱乐BigBang，易百科，历史七日谈，科技万有瘾力，新闻杂谈，新闻漫画，读写客，新闻故事，先知道，神吐槽，热辣评，狐揭秘，开心一刻，红人红事榜，图粹，FUN来了，今日最大声，有报天天读，凤凰知道，百部穿影，新观察，今日网言，海外观察，新闻哥" />
    <meta name="description" content="看点网---有看点，更精彩！网罗手机客户端精品栏目">
    <meta name="author" content="huzhifeng">
    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-ie6.min.css">
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css">
    <![endif]-->
    <link rel='stylesheet' href='/css/all.css' />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
    {{{block "css"}}}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" />
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?23ce86b694aab0df82bbdcf195627b8b";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    var hostname = "huzhifeng.com";
    if ((location.hostname.indexOf(hostname) == -1) && (location.hostname != "127.0.0.1") && (location.hostname.indexOf('kandian.tk') == -1)) {
      origin_url = location.protocol + "//" + hostname + location.pathname;
      location.href = origin_url;
    }
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{{settings.siteName}}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li id="hot"><a href="/category/hot" title="热点新闻">热点</a></li>
              <!--<li id="meinv"><a href="/image/" title="秀色可餐">美女</a></li>-->
              <li id="photo"><a href="/category/photo" title="缤纷世界">图说</a></li>
              <li id="beauty"><a href="/category/beauty" title="秀色可餐">美女</a></li>
              <li id="tech"><a href="/category/tech" title="科技前沿">科技</a></li>
              <li id="wenshi"><a href="/category/wenshi" title="文史趣谈">文史</a></li>
              <li id="junshi"><a href="/category/junshi" title="军情观察">军事</a></li>
              <li id="yule"><a href="/category/yule" title="娱乐八卦">娱乐</a></li>
              <li id="fashion"><a href="/category/fashion" title="时尚潮流">时尚</a></li>
              <li id="manhua"><a href="/category/manhua" title="精彩漫画">漫画</a></li>
              <li id="life"><a href="/category/life" title="健康养生">生活</a></li>
              <li id="joke"><a href="/category/joke" title="开怀一笑">搞笑</a></li>
              <li id="video"><a href="/category/video" title="视频精选">视频</a></li>
              <li id="netease"><a href="/site/netease" title="网易态度">网易</a></li>
              <li id="sohu"><a href="/site/sohu" title="搜狐先知">搜狐</a></li>
              <li id="ifeng"><a href="/site/ifeng" title="凤凰世界">凤凰</a></li>
              <li id="sina"><a href="/site/sina" title="掌中新浪">新浪</a></li>
              <li id="qq"><a href="/site/qq" title="腾讯派">腾讯</a></li>
            </ul>
            <!-- <form class="navbar-search pull-left" action="/search">
              <input type="text" class="search-query span2" name="q" value="{{#if keyword}}{{keyword}}{{/if}}">
            </form> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" id="body-main">
        {{{body}}}
        <footer>
          <hr>
          <div class="row">
            <div class="span12">
            <p>&copy;2013 <a href="/">{{settings.siteName}}</a> | <a href="/about">关于</a> | <a href="/sitemap">站点地图</a> | <!--<a href="https://github.com/huzhifeng/kandian">GitHub</a> -->
            <a href="/rss">订阅<img src="/img/rss.png"></a>
            </p>
            <p class="text-error">免责声明:本站所有文章均来自互联网收集而来，方便大家阅读，版权归原创者所有，如果侵犯了你的权益，请通知我们，我们会及时删除侵权内容，谢谢合作！
            <script src="http://s11.cnzz.com/stat.php?id=5299411&web_id=5299411" language="JavaScript"></script>
            </p></div>
            </div>
          </div>
        </footer>
      </div>
    <a style="display:none;" rel="nofollow" href="#header" id="go-to-top">▲</a>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.8.3.min.js"><\/script>')</script>
    <script type="text/javascript" src="/js/all.js"></script>
    <!--[if lte IE 6]>
    <script type="text/javascript" src="/js/bootstrap-ie.js"></script>
    <![endif]-->
    <script type="text/javascript">
      $(function() {
        $("img.lazy").lazyload({
          effect : "fadeIn"
        });
        var active =  '{{active}}' || 'home';
        var node = $('#' + active);
        if (node.attr('class') !== 'active') {
          $('.active', '.nav').removeClass('active');
          node.addClass('active');
        }
        $("#go-to-top").click(function(){
        $("html, body").animate({'scrollTop': 0}, 400);
          return false;
        });
        $(window).scroll(function() {
          var top = $(document).scrollTop();
          var g = $("#go-to-top");
          if (top > 300 && g.is(":hidden")) {
            g.fadeIn();
          } else if (top < 300 && g.is(":visible")) {
            g.fadeOut();
          }
        });
      });
    </script>
    {{{block "js"}}}
  </body>
</html>
